
<body>
    <header>

    </header>
    <nav class="navbar navbar-expand-sm p-3 my-3">
        <a class="navbar-brand" href="#">Patient Portal</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="user/login">Log In</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="user/register">Register</a>
            </li>
        </ul>
    </nav>
       <div class=".container-fluid p-3 my-3 border p-3 my-3 bg-dark text-white">
    <div class="container-fluid p-3 my-3"> 
        <br><br><br><br>
        <div class="jumbotron-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md">
                        
                        <h1 class="display-4">Stay in the loop <br> with your medications <br> and get support</h1>
                        <p class="lead">Set reminders for your medication,</p>
                        <p class="lead">track your intake and</p>
                        <p class="lead">share securely with family and doctor</p>
                    </div>
                    <br><br><br><br>
                </div>
            </div>
        </div>
</body>

