<div class="container">
    <div class="">
        <h6>My Reminders</h6>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            {{#each myreminders}} <br>
                <div class="div__all__reminder">
                    <b>{{date}}</b><br>
                    <div class="div__reminder">
                        {{#each value}} <br>
                            {{time}} <br>
                            {{#each value}}
                                {{medicine}} <br>
                            {{/each}}
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
