<div class="container">
    <div class="row">
        <div class="form-group">
            <form action="reminders/test" method="POST">
                <div>
                    <label for="reminder frequency">Frequency</label> 
                    <select name="frequency" >
                        <option  value="hourly">Hourly</option>
                        <option  value="daily">Daily</option>
                        <option  value="weekly">Weekly</option>
                    </select>
                </div><br>
                <div class="form-group">
                    <p>Start: 
                        
                            
                            <input type="date" class="form-select" name="interval">
                       
                </div>
                <div id="recurring__hourlypattern">Recurring: 
                    
                    <input type="number" class="form-select" name="interval">
                </div><br>
                <div id="recurring__dailypattern">Recurring:
                    <select class="form-select form-select-lg mb-3" name="freqinterval">
                        <option  value="1">Every day</option>
                        <option  value="2">Every other day</option>
                        <option  value="3">Every 3rd day</option>
                        <option  value="4">Every 4th day</option>
                        <option   value="5">Every 5th day</option>
                        <option  value="6">Every 6th day</option>
                        <option  value="7">Every 7th day</option>
                        <option  value="8">Every 8th day</option>
                        <option  value="9">Every 9th day</option>
                        <option  value="10">Every 10th day</option>
                        <option  value="11">Every 11th day</option>
                        <option  value="12">Every 12th day</option>
                        <option  value="13">Every 13th day</option>
                        <option  value="14">Every 14th day</option>
                        <option value="15">Every 15th day</option>
                        <option value="16">Every 16th day</option>
                        <option value="17">Every 17th day</option>
                        <option value="18">Every 18th day</option>
                        <option value="19">Every 19th day</option>
                        <option value="20">Every 20th day</option>
                        <option value="21">Every 21st day</option>
                        <option value="22">Every 22nd day</option>
                        <option value="23">Every 23rd day</option>
                        <option value="24">Every 24th day</option>
                        <option value="25">Every 25th day</option>
                        <option value="26">Every 26th day</option>
                        <option value="27">Every 27th day</option>
                        <option value="28">Every 28th day</option>
                        <option value="29">Every 29th day</option>
                        <option value="30">Every 30th day</option>
                        <option value="31">Every 31st day</option>
                    </select>
                </div>
                <div class="flefle">
                <div id="recurring__weeklypattern"><p>Recurring:</p>
                    <select class="form-select form-select-lg mb-3 boxes" name="freqinterval"> 
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                    </select>
                    <select name="" id="">
                        <option type="dropdown" name="day" value="su"></option> 
                        
                        <option type="dropdown" name="day" value="mo"></option> 
                        
                        <option type="dropdown" name="day" value="tu"></option> 
                        <option  type="dropdown" name="day" value="we"> </option>
                        
                        <option type="dropdown" name="day" value="thu"> </option>
                        
                        <option type="dropdown" name="day" value="fri"> </option>
                        
                        <option type="dropdown" name="day" value="sat"></option>
                    </select>
                </div>
                </div>
                </div>
                <div class="flefle">
                    <div class="">
                        <p>Duration:
                    </div>
                    <div>
                        <label for="select duration"></label>
                        <select class="form-select form-select-lg mb-3" name="duration">
                            <option value="A week"></option>
                            <option value="Two weeks"></option>
                            <option value="Three weeks"></option>
                            <option value="Four weeks"></option>
                            <option value="Five weeks"></option>
                            <option value="Six weeks"></option>
                            <option value="Seven weeks"></option>
                            <option value="Eight weeks"></option>
                            <option value="Nine weeks"></option>
                            <option value="Ten weeks"></option>
                            <option value="Eleven weeks"></option>
                        </select>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>